{% extends 'flatpages/default.html' %} 
{% load custom_filters %}

{% block content %}
<h1>{{ post_detail.title|censor_words }}</h1>
<p><small>Автор: {{ post_detail.author.user.username }}, дата: {{ post_detail.data_time_created|date:"d.m.Y H:i" }}</small></p>
<div>
    {{ post_detail.text|censor_words|linebreaks }}
</div>
<p>Рейтинг: {{ post_detail.rating }}</p>
<div>
<a href="{% url 'posts_list' %}">← Перейти к списку новостей</a>
<br />
<a href="{% url 'posts_search' %}">← Перейти к поиску</a>
</div>
{% endblock %}